server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          uri: https://github.com/fdrn9999/next-page-env
profiles:
  active: native
